.announcement {
  margin-top: 120px;
}
.announcement .card {
  min-height: 200px;
  border-radius: 0.25rem;
}
.card_title {
  border: 2px solid;
  font-size: 23px;
  font-weight: 600;
  padding: 10px;
  background: #e5e5e5;
}
.card-body {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-body h3 {
  font-size: 20px;
}
