input {
  border-radius: 4px;
  border: 2px solid gray;
}

select {
  border-radius: 4px;
  border: 2px solid gray;
}

input:focus,
select:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.go_btn {
  background: #000;
}
