.header_title {
  color: #dd581b;
}

.item_color {
  color: #1d5384 !important;
}

.icons_style {
  color: #1d5384 !important;
  border-radius: 50%;
}

.logo_img {
  height: 65px;
}

.profile {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.logout-btn {
  border: none;
  background: rgb(136, 135, 135);
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 5px 15px;
}
