.navbar-toggler {
  border: 1px solid #ffffff !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav_section {
  background: #191d88;
}

.active_link {
  background: #005ebb;
}

.nav-link {
  color: #ffffff !important;
}

.supervisor_btn {
  color: #7298d4 !important;
}

.dropdown-item {
  color: #191d88;
  font-weight: 700;
}
