.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-toggler {
  border: 1px solid #ffffff !important;
  background: #ffffff;
  color: black;
}

.nav_section {
  background: #191d88;
}

.active_link {
  background: #005ebb;
}

.nav-link {
  padding: 15px 75px !important;
  font-size: 22px !important;
  color: #ffffff !important;
  font-weight: 700 !important;
}

.supervisor_btn {
  background: transparent !important;
  color: #7298d4 !important;
  font-size: 20px;
  font-weight: 500 !important;
}
