.select_filter_title {
  color: #323f66;
  font-weight: 700;
}

.data_export_check_input:checked {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.check_form {
  margin-top: 34px !important;
}

.err_select {
  width: 316px;
}

.reset_filter_btn {
  background: #740200;
  color: #fff;
  padding: 5px 25px;
  border-radius: 28px;
  border: 0;
}

.data_export_btn {
  background: #002677;
  color: #fff;
  padding: 5px 25px;
  border-radius: 28px;
  border: 0;
}
