.admin-heading {
  border-bottom: 3px solid #e5e5e5;
  width: 12%;
}

.manage-heading {
  border-bottom: 3px solid #e5e5e5;
  width: 24%;
}

.delegate_form .formInput {
  border-radius: 2px;
  border: 1px solid rgb(179, 174, 174);
  margin: 0 !important;
}
.delegate_form label {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #2f2f2f;
}
.btn-delegate {
  background: #10135c;
  color: white;
  border: none;
  padding: 5px 25px;
  border-radius: 30px;
  text-transform: uppercase;
}

.delegationTable thead {
  background: #e8e8ec;
}

.delegationTable_container {
  margin-top: 150px;
}

.delegate_form .css-13cymwt-control {
  border-radius: 2px !important;
  box-shadow: none;
}

.delegate_form .css-t3ipsp-control:focus {
  box-shadow: none !important;
  border-color: rgb(179, 174, 174);
}
.delegate_form .css-t3ipsp-control:hover {
  box-shadow: none !important;
  border-color: rgb(179, 174, 174) !important;
}
.css-1p3m7a8-multiValue {
  font-size: 12px;
}
