input {
  margin: 5px 0;
  padding: 0 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 25px;
}

td {
  vertical-align: middle;
}

td:nth-child(2) {
  color: #084298 !important;
}
td:nth-child(3) {
  color: #084298 !important;
}
