input {
  margin: 5px 0;
  padding: 0 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 25px;
}

td {
  vertical-align: middle;
}

td:nth-child(2) {
  color: #084298 !important;
}
.assign_value_clr {
  color: #084298;
}

.edit_assign_to {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}
.edit-btn {
  border: none;
  background: none;
  font-size: 20px;
}
.save_btn {
  border: none;
  background: none;
  background: #084298;
  font-weight: 500;
  color: white;
  padding: 1px 6px;
  border-radius: 4px;
}
.edit_box {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.edit_box input {
  margin: 5px 0;
  padding: 0 5px;
}
.edit_box select {
  margin: 1px 0;
  padding: 1px 5px;
}

.listin_modal_body {
  padding: 2px 0 !important;
  height: 250px !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.listin_modal_body ul {
  padding: 0 !important;
}

.listin_modal_body ul li {
  list-style: none !important;
}

.listin_modal_body .listing_sty {
  display: flex !important;
  align-items: center !important;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  margin-left: 4px;
}

.listin_modal_body .listing_sty2 {
  display: flex !important;
  align-items: center !important;
  width: 100%;
  margin-left: 4px;
}

.listin_modal_body .listing_sty3 {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  margin-left: 4px;
}

.item_name {
  font-size: 16px;
  font-weight: 700;
  padding-left: 37px !important;
  margin-bottom: 5px !important;
}

.item_mail {
  padding-left: 37px;
  margin-bottom: 5px !important;
}
